<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="space.pal.sig">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SpaceNow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SpaceNow.Splash"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.iss.IssActivity"></activity>
        <activity
            android:name=".view.extra.AboutActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".view.extra.WebActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".view.apod.ApodActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".view.launch.LaunchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjjb8JQHOK73HTc5J0j06uXtAO7F4XzXU" />
    </application>

</manifest>