<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="space.pal.sig">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SpaceNow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SpaceNow.Splash"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.main.MainActivity"></activity>
        <activity android:name=".view.splash.SplashActivity" />
        <activity
            android:name=".old.view.splash.SplashActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".old.view.apod.ImagesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".old.view.web.WebActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".old.view.apod.ImageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".old.view.launches.LaunchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".old.view.news.NewsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
        <activity
            android:name=".old.view.main.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SpaceNow" />
    </application>

</manifest>